* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: calc( 100% / 3 - 8px);
    margin: 0 4px;
}

.product {
    position: relative;
}

.product img {
    width: 100%;
    display: block;
}

.discount, .materials, .whishlist, .materials-2{
    display: block;
    position: absolute;
    padding: 3px; 
    font-size: 13px;
}

.discount{
    background-color:red;
    color:white;
    top: 420px;
    left:0px;
}

.materials{
    background-color:green;
    color:white;
    top: 420px;
    left:40px;
}

.materials-2{
    background-color:green;
    color:white;
    top: 420px;
    left:0px;

}

.whishlist{
    background-color: white;
    top:20px;
    right:0px;
    padding: 10px;
    font-size: 20px;
}

h4{
    text-transform: uppercase;
    font-weight: 600;
}
.price, .sale-price{
    font-size:13px;
}
.price{
    color: red;
}

.sale-price{
    color:black;
    text-decoration: line-through;
}

.info{
    margin-bottom: 30px;
    padding-top:5px;
}

.product .img-2 {
    display: none;
}

.product:hover .img-1 {
    display: none;
}
.product:hover .img-2 {
    display: block;
}