*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px; 
    margin: auto;
    margin-top: 20px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col-1, .col-2, .col-3{
    background-color: red;
    float: left;
    min-height:400px;
    width:30%; 
    margin: auto 10px;   
}
    
.container-2{
    margin-top: 20px;
}

.col-4, .col-5, .col-6{
    background-color: green;
    float: left;
    min-height:400px;
    width:30%; 
    margin: auto 10px;  
} 